<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-4 mb-3">
        <div class="footer-widget">
          <img class="footer-logo mb-4" src="/images/footer-logo.svg" alt="" />
          <p class="footer-address">3446 Al-Abtah Al-Nazim District Riyadh 8330 14814, KSA</p>
          <div class="footer-contact mt-2">
            <div class="row footer-contacts">
              <div class="col-6 mb-2">
                <p>admin@uproksa.com</p>
              </div>
              <div class="col-6 mb-2">
                <p>info@uproksa.com</p>
              </div>
            </div>
          </div>
          <div class="footer-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mt-3 mb-3">
        <div class="footer-widget">
          <h3 class="footer-title">OUR SERVICES</h3>
          <div class="separator"></div>
          <div class="row">
            <div class="column col-md-6 col-sm-6 col-xs-12">
              <ul class="links">
                <li>
                  <a href="/services/manpower-supplies">Manpower Supplies</a>
                </li>
                <li>
                  <a href="/services/rental-equipment-service"
                    >Rental Equipment service</a
                  >
                </li>
                <li><a href="/services/trading">Trading</a></li>
                <li>
                  <a href="/services/general-contracting"
                    >General Contracting</a
                  >
                </li>
              </ul>
            </div>
            <div class="column col-md-6 col-sm-6 col-xs-12">
              <ul class="links">
                <li><a href="/services/transportation">Transportation</a></li>
                <li>
                  <a href="/services/office-supplies">Office supplies </a>
                </li>
                <li>
                  <a href="/services/catering-service">Catering service </a>
                </li>
                <li>
                  <a href="/services/information-technology"
                    >Information Technology</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mt-3">
        <div class="footer-widget">
          <h3 class="footer-title">QUICK LINKS</h3>
          <div class="separator"></div>
          <div class="row">
            <div class="column col-md-6 col-sm-6 col-xs-12">
              <ul class="links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">Company Overview</a></li>
                <li><a href="/projects">Projects</a></li>
              </ul>
            </div>
            <div class="column col-md-6 col-sm-6 col-xs-12">
              <ul class="links">
                <li><a href="/clients">Clients</a></li>
                <li><a href="/career">Career</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="auto-container">
      <div class="copyright">
        Copyright © 2022 <a href="#">URBAN PROJECTS</a>
        <!-- <a href="#"></a> -->
        All rights reserved.
      </div>
    </div>
  </div>
</footer>

<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
  integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
  integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
  integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<script type="text/javascript">
  $(".sidebar li a").on("click", function (e) {
    $("sidebar .sidebar-list")
      .find("li.sidebar-active")
      .removeClass("sidebar-active");
    $(this).parent("li").addClass("sidebar-active");
  });

  mybutton = document.getElementById("scroll");

  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction();
  };

  function scrollFunction() {
    if (
      document.body.scrollTop > 20 ||
      document.documentElement.scrollTop > 20
    ) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
</script>
