</div>
<div class="row">
  <div class="col-md-6">
    <ol id="change-service-list-1" class="services-list">
      <li>Certified Engineers</li>
      <li>Certified QA/QC Personnel</li>
      <li>Certified Safety Officers</li>
      <li>Certified Work Permit Receivers</li>
      <li>Certified Welders, RTR Pipe Jointer</li>
      <li>Certified painters and Sand Blasters</li>
      <li>Certified Crane &amp; Heavy Equipment Operators</li>
      <li>
        Electrical &amp; mechanical workers for building
        maintenance
      </li>
    </ol>
  </div>

  <div class="col-md-6">
    <ol id="change-service-list-2" class="services-list">
      <li>Riggers</li>
      <li>Technicians</li>
      <li>Skilled Labor</li>
      <li>Administrators</li>
      <li>Site Supervisors</li>
      <li>Operators for various plants</li>
      <li>Workers for Water treatment plants</li>
      <li>Maintenance workers for Oil and Gas plants</li>
    </ol>
  </div>
</div>
</div>
</div>
</div>