<script>
  document.getElementById("change-title").innerHTML = "Our Servives";
  document.getElementById("change-breadcrumb").innerHTML = "Servives";
</script>

<section class="services">
  <div class="services-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div>
            <div class="services-hero-image">
              <img
              id="change-services-hero-image"
                class="img-fluid w-100"
                src=""
                alt=""
              />
            </div>
            <div class="services-content">
              <h2 id="change-services-title" class="services-title">
              </h2>
              <div class="separator"></div>
              <div id="change-service-para" class="services-para">
                <p id="change-services-para-1">
                </p>
                <p id="change-services-para-2">
                </p>

             