<!-- SIDEBAR -->

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <aside class="sidebar card">
      <div class="sidebar-title">
        <h2>Our Services</h2>
        <div class="separator"></div>
      </div>

      <div class="sidebar-box sidebar-service-box">
        <ul class="sidebar-list">
          <li class="a">
            <a href="/services/manpower-supplies"><i class="fa-solid fa-arrow-right-long"></i> Manpower Supplies</a>
          </li>
          <li class="b">
            <a href="/services/rental-equipment-service"
              ><i class="fa-solid fa-arrow-right-long"></i> Rental Equipment service</a
            >
          </li>
          <li class="c"><a href="/services/Trading"><i class="fa-solid fa-arrow-right-long"></i> Trading</a></li>
          <li class="d">
            <a href="/services/general-contracting"
              ><i class="fa-solid fa-arrow-right-long"></i> General Contracting</a
            >
          </li>
          <!--<li class=""><a href="services.php?id=Industrial">Industrial supports</a></li>
                                  <li class=""><a href="services.php?id=Operation">Operation & maintenance</a></li>-->
          <li class="e">
            <a href="/services/transportation"><i class="fa-solid fa-arrow-right-long"></i> Transportation</a>
          </li>
          <li class="f">
            <a href="/services/office-supplies"><i class="fa-solid fa-arrow-right-long"></i> Office supplies </a>
          </li>
          <li class="g">
            <a href="/services/catering-service"><i class="fa-solid fa-arrow-right-long"></i> Catering service </a>
          </li>
          <li class="h">
            <a href="/services/information-technology"
              ><i class="fa-solid fa-arrow-right-long"></i> Information Technology (IT)</a
            >
          </li>
        </ul>
      </div>

      <!-- BROCHURE -->
      <div class="sidebar-box mt-4 brochure-box">
        <div class="sidebar-title">
          <h2>Our Brochures</h2>
          <div class="separator"></div>
        </div>
        <a
          class="sidebar-brochure"
          href="/images/UrbanProjects.pdf"
          target="_blank"
          ><span>Download Brochure</span></a
        >
      </div>

      <!--Contact-->
      <div class="sidebar-contact">
        <a class="btn btn-second" href="/contact-us"
          >Contact Us <span>&rarr;</span></a
        >
      </div>
    </aside>
  </div>
</div>
</div>

<!-- --------SERVICES-CAROUSEL--------- -->

<div class="services-carousel">
  <div class="container">
      <div class="owl-carousel owl-theme">
        <div class="item h-100">
          <img id="change-img-1" class="img-fluid" src="" alt="">
        </div>
        <div class="item h-100">
          <img id="change-img-2" class="img-fluid" src="" alt="">
        </div>
        <div class="item h-100">
          <img id="change-img-3" class="img-fluid" src="" alt="">
        </div>
        <div class="item h-100">
          <img id="change-img-4" class="img-fluid" src="" alt="">
        </div>
        <div class="item h-100">
          <img id="change-img-5" class="img-fluid" src="" alt="">
        </div>
        <div class="item h-100">
          <img id="change-img-6" class="img-fluid" src="" alt="">
        </div>
      </div>
    
  </div>
  
</div>
    
<!-- --------/SERVICES-CAROUSEL--------- -->


</div>
</section>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script>
   
    
   $('.owl-carousel').owlCarousel({
    rtl:false,
    loop:false,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:2
        },
        1000:{
            items:4
        }
    }
})
</script>