<%- include("partials/header") %>

<%- include("partials/about-copy") %>

  <!-- OVERVIEW -->

  <section class="about-overview">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <h2 class="about-title">COMPANY OVERVIEW</h2>
          <div class="separator"></div>
          <div class="about-text">
            <p class="mb-4">
              Urban Projects is one of the emerging stars in the field of
              Manpower, rental Equipment, trading & general contracting with
              high profile clients. Over the past years we have developed and
              maintained a market leading position as a direct result of our
              supply and service quality.
            </p>
            <p class="mb-4">
              Urban Projects has earned its reputation for consistently
              delivering results that add value. We strive to be a trusted
              partner for everyone we serve and are globally recognized for our
              Professionalism, Reliability, Efficiency & Quality.
            </p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">
          <img class="img-fluid" src="images/about/overview.jpeg" alt="" />
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="about-text">
              <p class="about-para-3">
                We are committed to the principal of providing consistently
                quality products and services, to establish a strong
                relationship with our clients and to enhance the reputation of
                the company. Because of our continuous pursuit for recognition
                and devoted customer service, we have secured the confidence and
                appreciation of our clients. By comprehending the needs of our
                clients and tailoring solutions, we have consistently
                demonstrated the ability to understand and implement fully the
                scope of any project.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- HIGHLIGHTS -->
  <section class="highlights-section">
    <div class="highlight-image"></div>
    <div class="container">
      <div class="row highlights-row">
        <div class="col-md-6">
          <h2 class="about-title highlights-title">OUR HIGLIGHTS</h2>
          <div class="separator"></div>

          <div class="row">
            <div class="icon-box col-md-4">
              <div class="inner-box">
                <i class="fa-solid fa-bullseye"></i>
                <h3>Mission</h3>
              </div>
            </div>

            <div class="icon-box col-md-4">
              <div class="inner-box">
                <i class="fa-solid fa-eye"></i>
                <h3>Vision</h3>
              </div>
            </div>

            <div class="icon-box col-md-4">
              <div class="inner-box">
                <i class="fa-solid fa-handshake-simple"></i>
                <h3>Core Values</h3>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="icon-box col-md-4">
              <div class="inner-box">
                <i class="fa-solid fa-lightbulb"></i>
                <h3>Strategy</h3>
              </div>
            </div>

            <div class="icon-box col-md-4">
              <div class="inner-box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <h3>Research</h3>
              </div>
            </div>

            <div class="icon-box col-md-4">
              <div class="inner-box">
                <i class="fa-solid fa-user-group"></i>
                <h3>Leadership</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <div class="card-body p-5">
              <div class="quality-box">
                <i class="fa-solid fa-gem quality-icon"></i>
                <h3 class="quality-title">Quality</h3>
              </div>
              <p class="quality-text">
                Urban Projects aims to provide customer solutions, quality
                products and professional services. The company recognize that
                quality and completion on time are key indicators of its
                performance and enhances its company’s reputation and increases
                its competitiveness in the market. Our achievements rely mainly
                on values like positive attitude and commitment which are
                embedded in our work culture. These are directed towards
                maintaining the highest degree of Safety, Quality and
                Construction Management in the execution of every single Project
              </p>
              <a class="btn-dos quality-btn" href=""
                >Our Services <span>&rarr;</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- about-carousel-section -->

  <section class="about-carousel-section">
    <div class="container">
            <h2 class="about-services-title">Our Services</h3>
                <div class="separator mb-5"></div>

        <div class="owl-carousel owl-theme">
            <!-- ITEM -->
            <div class="about-carousel-slide-item">
                <div class="about-carousel-item mt-30">
                    <div class="about-carousel-image">
                        <div class="item"><img class="img-fluid" src="images/about/1.jpeg" alt="" /></div>
                    </div>
                    <div class="about-carousel-content">
                      <p class="about-content-title"><span>Manpower Supplies</span></p>
                        <a class="about-content-link" href="">Read More <span>&rarr;</span></a>
                    </div>
                </div>
            </div>
            <!-- /ITEM -->

            <!-- ITEM -->
            <div class="about-carousel-slide-item">
                <div class="about-carousel-item mt-30">
                    <div class="about-carousel-image">
                        <div class="item"><img class="img-fluid" src="images/about/2.jpeg" alt="" /></div>
                    </div>
                    <div class="about-carousel-content">
                      <div class="inner">
                        <p class="about-content-title"><span>Rental Equipment</span></p>
                        <a class="about-content-link" href="">Read More <span>&rarr;</span></a>
                      </div>
                    </div>
                </div>
            </div>
            <!-- /ITEM -->

             <!-- ITEM -->
             <div class="about-carousel-slide-item">
                <div class="about-carousel-item mt-30">
                    <div class="about-carousel-image">
                        <div class="item"><img class="img-fluid" src="images/about/3.jpeg" alt="" /></div>
                    </div>
                    <div class="about-carousel-content">
                      <div class="inner">
                        <p class="about-content-title"><span>Trading</span></p>
                        <a class="about-content-link" href="">Read More <span>&rarr;</span></a>
                      </div>
                    </div>
                </div>
            </div>
            <!-- /ITEM -->

             <!-- ITEM -->
             <div class="about-carousel-slide-item">
                <div class="about-carousel-item mt-30">
                    <div class="about-carousel-image">
                        <div class="item"><img class="img-fluid" src="images/about/4.jpeg" alt="" /></div>
                    </div>
                    <div class="about-carousel-content">
                      <div class="inner">
                        <p class="about-content-title"><span>General Contracting</span></p>
                        <a class="about-content-link" href="">Read More <span>&rarr;</span></a>
                      </div>
                    </div>
                </div>
            </div>
            <!-- /ITEM -->

             <!-- ITEM -->
             <div class="about-carousel-slide-item">
                <div class="about-carousel-item mt-30">
                    <div class="about-carousel-image">
                        <div class="item"><img class="img-fluid" src="images/about/5.png" alt="" /></div>
                    </div>
                    <div class="about-carousel-content">
                      <div class="inner">
                        <p class="about-content-title"><span>Transportation</span></p>
                        <a class="about-content-link" href="">Read More <span>&rarr;</span></a>
                      </div>
                    </div>
                </div>
            </div>
            <!-- /ITEM -->

             <!-- ITEM -->
             <div class="about-carousel-slide-item">
                <div class="about-carousel-item mt-30">
                    <div class="about-carousel-image">
                        <div class="item"><img class="img-fluid" src="images/about/6.jpeg" alt="" /></div>
                    </div>
                    <div class="about-carousel-content">
                      <div class="inner">
                        <p class="about-content-title"><span>Office Supplies</span></p>
                        <a class="about-content-link" href="">Read More <span>&rarr;</span></a>
                      </div>
                    </div>
                </div>
            </div>
            <!-- /ITEM -->

             <!-- ITEM -->
             <div class="about-carousel-slide-item">
                <div class="about-carousel-item mt-30">
                    <div class="about-carousel-image">
                        <div class="item"><img class="img-fluid" src="images/about/7.jpeg" alt="" /></div>
                    </div>
                    <div class="about-carousel-content">
                      <div class="inner">
                        <p class="about-content-title"><span>Catering Service</span></p>
                        <a class="about-content-link" href="">Read More <span>&rarr;</span></a>
                      </div>
                    </div>
                </div>
            </div>
            <!-- /ITEM -->

             <!-- ITEM -->
             <div class="about-carousel-slide-item">
                <div class="about-carousel-item mt-30">
                    <div class="about-carousel-image">
                        <div class="item"><img class="img-fluid" src="images/about/8.jpeg" alt="" /></div>
                    </div>
                    <div class="about-carousel-content">
                      <div class="inner">
                        <p class="about-content-title"><span>Information Technology</span></p>
                        <a class="about-content-link" href="">Read More <span>&rarr;</span></a>
                      </div>
                    </div>
                </div>
            </div>
            <!-- /ITEM -->
    </div>
  </section>
</section>


<%- include("partials/footer") %>
<script>
    $('.owl-carousel').owlCarousel({
    rtl:false,
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:2
        },
        1000:{
            items:4
        }
    }
})
</script>
<%- include("partials/footer-end") %>