<%- include("partials/header") %> <%- include("partials/about-copy") %>
<script>
  document.getElementById("change-title").innerHTML = "Clients";
  document.getElementById("change-breadcrumb").innerHTML = "Clients";
</script>
<section class="clients-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <img class="img-fluid" src="images/bottom-carousel/1.jpeg" alt="" />
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <img class="img-fluid" src="images/bottom-carousel/2.jpeg" alt="" />
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <img class="img-fluid" src="images/bottom-carousel/3.jpeg" alt="" />
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <img class="img-fluid" src="images/bottom-carousel/4.jpeg" alt="" />
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <img class="img-fluid" src="images/bottom-carousel/5.jpeg" alt="" />
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <img class="img-fluid" src="images/bottom-carousel/6.jpeg" alt="" />
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <img class="img-fluid" src="images/bottom-carousel/7.jpeg" alt="" />
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <img class="img-fluid" src="images/bottom-carousel/8.jpeg" alt="" />
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <img class="img-fluid" src="images/bottom-carousel/9.jpeg" alt="" />
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <img class="img-fluid" src="images/bottom-carousel/10.jpeg" alt="" />
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <img class="img-fluid" src="images/bottom-carousel/11.jpeg" alt="" />
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <img class="img-fluid" src="images/bottom-carousel/12.jpeg" alt="" />
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <img class="img-fluid" src="images/bottom-carousel/13.jpeg" alt="" />
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <img class="img-fluid" src="images/bottom-carousel/14.jpeg" alt="" />
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <img class="img-fluid" src="images/bottom-carousel/15.jpeg" alt="" />
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <img class="img-fluid" src="images/bottom-carousel/16.jpeg" alt="" />
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <img class="img-fluid" src="images/bottom-carousel/17.jpeg" alt="" />
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <img class="img-fluid" src="images/bottom-carousel/18.jpeg" alt="" />
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <img class="img-fluid" src="images/bottom-carousel/19.jpeg" alt="" />
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <img class="img-fluid" src="images/bottom-carousel/20.jpeg" alt="" />
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <img class="img-fluid" src="images/bottom-carousel/21.jpeg" alt="" />
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <img class="img-fluid" src="images/bottom-carousel/22.jpeg" alt="" />
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <img class="img-fluid" src="images/bottom-carousel/23.jpeg" alt="" />
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
        <img class="img-fluid" src="images/bottom-carousel/24.jpeg" alt="" />
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") %>
<%- include("partials/footer-end") %>