<%- include("partials/header") %> <%- include("partials/about-copy") %>
<script>
  document.getElementById("change-title").innerHTML = "Projects";
  document.getElementById("change-breadcrumb").innerHTML = "Projects";
</script>
<section class="projects-section">
  <div class="container">
    <table class="table table-light table-hover">
      <thead>
        <tr class="table-color">
          <th scope="col">Sl.No.</th>
          <th scope="col">Client Name</th>
          <th scope="col">Project Name</th>
          <th scope="col">Location</th>
          <th scope="col">Year</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Samsung</td>
          <td>Socc Project</td>
          <td>Jubail</td>
          <td>2012</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Samsung</td>
          <td>Socc Project</td>
          <td>Jubail</td>
          <td>2012</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Samsung</td>
          <td>Socc Project</td>
          <td>Jubail</td>
          <td>2012</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Samsung</td>
          <td>Socc Project</td>
          <td>Jubail</td>
          <td>2012</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Samsung</td>
          <td>Socc Project</td>
          <td>Jubail</td>
          <td>2012</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Samsung</td>
          <td>Socc Project</td>
          <td>Jubail</td>
          <td>2012</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Samsung</td>
          <td>Socc Project</td>
          <td>Jubail</td>
          <td>2012</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Samsung</td>
          <td>Socc Project</td>
          <td>Jubail</td>
          <td>2012</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Samsung</td>
          <td>Socc Project</td>
          <td>Jubail</td>
          <td>2012</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Samsung</td>
          <td>Socc Project</td>
          <td>Jubail</td>
          <td>2012</td>
        </tr>
        <tr>
          <th scope="row">11</th>
          <td>Samsung</td>
          <td>Socc Project</td>
          <td>Jubail</td>
          <td>2012</td>
        </tr>
        <tr>
          <th scope="row">12</th>
          <td>Samsung</td>
          <td>Socc Project</td>
          <td>Jubail</td>
          <td>2012</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<%- include("partials/footer") %>
<%- include("partials/footer-end") %>