body {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;
  transition: all 0.2s;
  overflow-x: hidden; }
  @media only screen and (max-width: 576px) {
    body {
      font-size: 50%; } }

body::-webkit-scrollbar {
  width: 1em; }

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

body::-webkit-scrollbar-thumb {
  background-color: #003d7f; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif; }

h1 {
  font-weight: 900;
  font-size: 2.4rem;
  margin-bottom: 0.8rem; }
  @media only screen and (max-width: 576px) {
    h1 {
      font-size: 1rem; } }

h2 {
  font-size: 1.5rem; }
  @media only screen and (max-width: 576px) {
    h2 {
      font-size: 0.9rem; } }

h3 {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.5; }
  @media only screen and (max-width: 576px) {
    h3 {
      font-size: 0.85rem; } }

h4 {
  font-size: 1rem; }
  @media only screen and (max-width: 576px) {
    h4 {
      font-size: 0.8rem; } }

p {
  font-weight: 400;
  font-size: 1rem; }
  @media only screen and (max-width: 576px) {
    p {
      font-size: 0.8rem; } }

a {
  font-size: 1rem;
  font-weight: 300; }

.btn--blue {
  color: white; }
  .btn--blue:hover, .btn--blue:active {
    color: #00a89f; }

.btn-dos {
  background-color: none;
  text-decoration: none;
  transition: all 0.2s;
  font-weight: 700; }
  .btn-dos:hover, .btn-dos:active {
    transform: scale(1.05);
    color: #003d7f; }

.btn-second {
  background-color: #00a89f !important;
  color: #fff;
  padding: 1.2rem 2.5rem;
  font-weight: 700;
  transition: all 0.2s; }
  @media only screen and (max-width: 576px) {
    .btn-second {
      padding: 0.6rem 1.6rem;
      width: 100%; } }
  .btn-second:hover, .btn-second:active {
    transform: translateY(-3px) scale(1.01);
    color: #e9e7e7; }

a {
  text-decoration: none;
  color: #000; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  list-style: none; }

.separator {
  width: 4rem;
  height: 5px;
  background-color: #00a89f !important;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  display: inline-block; }
  @media only screen and (max-width: 576px) {
    .separator {
      margin-bottom: 1rem; } }

.navbar {
  background-image: linear-gradient(180deg, white 0%, white 90%, #00a89f 90%, #00a89f 100%) !important;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1) !important;
  width: 100%; }
  @media only screen and (max-width: 992px) {
    .navbar-nav {
      margin: 2rem 0 4rem !important; } }
  @media only screen and (max-width: 992px) {
    .navbar-nav .nav-item:not(:last-child) {
      border-bottom: 1px solid rgba(0, 168, 159, 0.3); } }
  .navbar .navbar-light .navbar-toggler {
    color: rgba(0, 168, 159, 0.55);
    border-color: #00a89f !important; }
  .navbar .navbar-toggler:focus {
    box-shadow: 0 0 0.4rem rgba(0, 168, 159, 0.1); }
  .navbar li {
    color: #00a89f !important; }
  @media only screen and (max-width: 992px) {
    .navbar .nav-item {
      margin-left: 0.5rem; }
    .navbar .navbar .nav-item a.nav-link {
      color: #00a89f !important; } }

.logo-2030 {
  padding: 0.3rem;
  border-left: 3px solid rgba(0, 0, 0, 0.164);
  transition: all 0.2s; }
  .logo-2030:hover, .logo-2030:focus {
    border-right: 3px solid rgba(0, 0, 0, 0.164); }
  @media only screen and (max-width: 1200px) {
    .logo-2030 {
      display: none; } }

.dropdown-menu {
  text-align: left;
  background-color: #00a89f;
  transition: all 0.2s; }
  .dropdown-menu li a.dropdown-item {
    color: white !important;
    transition: all 0.2s; }
  .dropdown-menu .dropdown-toggler {
    transition: all 0.2s; }

.header-logo__img {
  width: 22rem;
  height: auto; }
  @media only screen and (max-width: 992px) {
    .header-logo__img {
      width: 14rem; } }

.navbar .nav-item .nav-link {
  color: black !important;
  font-weight: 700 !important;
  transition: all 0.2s;
  font-size: 0.9rem;
  position: relative;
  transition: all 0.2s; }
  .navbar .nav-item .nav-link:before {
    content: "";
    width: 0%;
    height: 4px;
    background-color: #003d7f;
    display: inline-block;
    position: absolute;
    left: 0.4rem;
    bottom: 0;
    border-radius: 10px;
    transition: all 0.4s; }
    @media only screen and (max-width: 992px) {
      .navbar .nav-item .nav-link:before {
        display: none; } }
  .navbar .nav-item .nav-link:hover::before, .navbar .nav-item .nav-link:active::before {
    width: 85%; }
  .navbar .nav-item .nav-link:not(:nth-child(2)) {
    margin-right: 1.5rem; }

.dropdown-item {
  padding: 0.5rem 2rem;
  color: #212529; }
  .dropdown-item:hover {
    background-color: #003d7f;
    color: #00a89f; }

#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  margin-top: 5rem;
  height: 100%; }
  @media only screen and (max-width: 576px) {
    #introCarousel,
    .carousel-inner,
    .carousel-item,
    .carousel-item.active {
      margin-top: 3.5rem; } }

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 3rem;
  height: 3rem;
  background-color: #00a89f;
  fill: #00a89f;
  position: relative;
  top: 2rem; }

.carousel-control-prev {
  justify-content: start; }

.carousel-control-next {
  justify-content: end; }

.carousel-indicators {
  bottom: -5rem; }
  @media only screen and (max-width: 576px) {
    .carousel-indicators {
      bottom: -3rem; } }

.carousel-indicators [data-bs-target] {
  width: 2rem;
  height: 4px;
  cursor: pointer;
  background-color: #00a89f !important;
  opacity: 1;
  transition: opacity 0.6s ease; }

.carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #introCarousel {
    margin-top: -58.59px; } }

.navbar .nav-link {
  color: #fff !important; }

.about {
  padding: 12rem 0px 8rem; }
  @media only screen and (max-width: 1200px) {
    .about {
      padding: 10rem 0px 6rem; } }
  @media only screen and (max-width: 992px) {
    .about {
      padding: 8rem 0px 6rem; } }
  @media only screen and (max-width: 576px) {
    .about {
      padding: 4rem 0; } }
  .about p {
    text-align: justify; }

.heading__subtitle {
  color: #00a89f; }
  @media only screen and (max-width: 576px) {
    .heading__subtitle {
      font-size: 0.8rem; } }

@media only screen and (max-width: 1400px) {
  h1.heading__title {
    font-size: 1.9rem !important; } }

@media only screen and (max-width: 576px) {
  .sm-hide {
    display: none; } }

.scope {
  background-image: linear-gradient(rgba(0, 168, 159, 0.9), rgba(0, 168, 159, 0.9)), url(../images/scope/2.jpeg);
  padding: 8rem 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }
  @media only screen and (max-width: 1200px) {
    .scope {
      padding: 6rem 0; } }
  @media only screen and (max-width: 576px) {
    .scope {
      padding: 3rem 0; } }

.scope__title {
  display: inline-block;
  font-weight: 700;
  padding-bottom: 0.5rem;
  border-bottom: 6px solid rgba(255, 255, 255, 0.2);
  color: white !important; }

.scope__para {
  margin: 1.9rem 0;
  font-weight: 700; }

.icon-box {
  transform: translateY(1.8rem);
  transition: all 0.2s; }
  .icon-box i {
    font-size: 2rem; }
  @media only screen and (max-width: 576px) {
    .icon-box {
      transform: translateY(1.3rem); } }

.icon {
  height: 2rem;
  width: auto; }

.scope .scope-block:nth-child(2) .inner-box:after,
.scope .scope-block:nth-child(3) .inner-box:after,
.scope .scope-block:nth-child(5) .inner-box:after,
.scope .scope-block:nth-child(6) .inner-box:after {
  content: "";
  position: absolute;
  left: -3rem;
  bottom: 3rem;
  top: 0px;
  border-left: 1px solid rgba(255, 255, 255, 0.2); }
  @media only screen and (max-width: 1200px) {
    .scope .scope-block:nth-child(2) .inner-box:after,
    .scope .scope-block:nth-child(3) .inner-box:after,
    .scope .scope-block:nth-child(5) .inner-box:after,
    .scope .scope-block:nth-child(6) .inner-box:after {
      border: none; } }

.scope-block .inner-box {
  position: relative;
  padding: 3rem 0px;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important; }
  .scope-block .inner-box .btn-dos:hover, .scope-block .inner-box .btn-dos:focus {
    color: black; }
  @media only screen and (max-width: 1200px) {
    .scope-block .inner-box {
      border: 1px solid rgba(255, 255, 255, 0.2) !important;
      padding: 3rem 1rem; } }
  @media only screen and (max-width: 576px) {
    .scope-block .inner-box {
      border: 1px solid rgba(255, 255, 255, 0.2) !important;
      padding: 2rem 2rem; } }

.scope-section .row .s-block {
  padding: 0 3rem;
  overflow: hidden; }
  @media only screen and (max-width: 1200px) {
    .scope-section .row .s-block {
      padding: 0; } }
  .scope-section .row .s-block .icon-box {
    text-align: left; }

.card-text,
.card-btn {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s; }

.card-text {
  margin-top: 1.5rem; }

.scope-block {
  position: relative;
  margin-bottom: 3rem; }
  .scope-block:hover, .scope-block:active {
    background-color: #003d7f; }
    .scope-block:hover .card-text,
    .scope-block:hover .card-btn, .scope-block:active .card-text,
    .scope-block:active .card-btn {
      visibility: visible;
      opacity: 1; }
    .scope-block:hover .icon-box, .scope-block:active .icon-box {
      transform: translateY(1.8rem) translateX(8rem); }
    .scope-block:hover .inner-box, .scope-block:active .inner-box {
      border-bottom: 1px solid #003d7f;
      width: 100%; }
    @media only screen and (max-width: 1140px) {
      .scope-block:hover, .scope-block:active {
        background-color: transparent; }
        .scope-block:hover .inner-box, .scope-block:active .inner-box {
          background-color: #003d7f; } }

.about-one {
  padding: 8rem 0; }
  @media only screen and (max-width: 576px) {
    .about-one {
      padding: 4rem 0; } }

.about-one__heading--1 {
  font-weight: 700;
  position: relative; }
  @media only screen and (max-width: 576px) {
    .about-one__heading--1 {
      font-size: 1rem; } }

.about-one__heading--2 {
  font-size: 1.4rem;
  color: #003d7f;
  max-width: 50rem; }
  @media only screen and (max-width: 576px) {
    .about-one__heading--2 {
      font-size: 1.1rem; } }

.about-one__para {
  text-align: justify;
  text-justify: inter-word; }

.about-one__cta {
  color: #777777; }

@media only screen and (max-width: 576px) {
  .contacts h4 {
    font-size: 0.8rem;
    display: none; } }

.contacts a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #003d7f; }
  @media only screen and (max-width: 576px) {
    .contacts a {
      font-size: 0.8rem;
      display: none; } }

@media only screen and (max-width: 576px) {
  .contacts {
    align-items: start !important;
    margin-top: 1rem; } }

@media only screen and (max-width: 576px) {
  .contacts .contact-box {
    flex-direction: column !important;
    justify-content: space-around !important;
    display: none; } }

.carousel-bottom-container {
  position: relative; }

.carousel-wrap {
  position: relative; }

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100;
  -webkit-backface-visibility: hidden; }

/* end fix */
.owl-nav i {
  font-size: 52px;
  color: white; }

.owl-nav {
  overflow: hidden; }

.owl-next {
  float: right; }

.owl-prev {
  float: left; }

.owl-nav .owl-next {
  right: 0; }

.owl-nav .owl-prev {
  left: 0; }

.owl-next,
.owl-prev {
  position: absolute;
  top: 35%;
  display: inline-block; }

.carousel-bottom {
  background-color: #00a89f;
  padding: 4rem 0 3rem 0;
  box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.1); }

.owl-carousel .item img {
  width: 70%;
  margin: auto;
  border-radius: 3px;
  box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.2); }

.quote-section {
  margin: 8rem 0;
  position: relative;
  padding: 7rem 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.quote-box {
  position: relative; }

.sec-title {
  position: relative;
  color: #fff;
  display: inline-block; }
  .sec-title h2 {
    text-transform: uppercase;
    font-weight: 700; }
    @media only screen and (max-width: 576px) {
      .sec-title h2 {
        font-size: 1.1rem; } }

.centered {
  margin: 0 auto; }

.quote-form {
  position: relative; }

.quote-box .inner-box {
  position: relative;
  padding: 2.5rem 4rem;
  max-width: 40rem;
  background-color: #1a1a1a; }
  @media only screen and (max-width: 576px) {
    .quote-box .inner-box {
      padding: 2rem; } }

.quote-form .form-group input[type="text"],
.quote-form .form-group input[type="password"],
.quote-form .form-group input[type="tel"],
.quote-form .form-group input[type="email"] {
  position: relative;
  display: block;
  width: 100%;
  line-height: 2rem;
  padding: 1rem 2rem;
  height: 3.5rem;
  margin-bottom: 1rem;
  font-size: 15px;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease; }
  @media only screen and (max-width: 576px) {
    .quote-form .form-group input[type="text"],
    .quote-form .form-group input[type="password"],
    .quote-form .form-group input[type="tel"],
    .quote-form .form-group input[type="email"] {
      padding: 0 1rem; } }
  .quote-form .form-group input[type="text"]:active,
  .quote-form .form-group input[type="password"]:active,
  .quote-form .form-group input[type="tel"]:active,
  .quote-form .form-group input[type="email"]:active {
    outline: none;
    border: none; }

.text {
  color: #fff; }

.quote-btn {
  font-size: 0.8rem;
  font-weight: 700;
  padding: 1rem 2rem; }

.quote-text {
  font-size: 0.7rem; }
  @media only screen and (max-width: 576px) {
    .quote-text {
      margin-top: 1rem; } }

@media only screen and (max-width: 576px) {
  .quote-btn-box {
    display: flex;
    flex-direction: column; } }

.footer {
  padding: 4rem 0 0 0;
  background-color: #1a1a1a;
  color: #fff;
  font-family: "Montserrat", sans-serif; }

.footer-logo {
  height: auto;
  width: 90%; }

.links li {
  margin-bottom: 0.5rem; }

.links li a {
  color: #c4c4c4;
  font-size: 0.85rem;
  font-weight: 400; }
  .links li a:hover {
    color: #fff; }

.footer-contacts {
  color: #c4c4c4; }
  .footer-contacts p {
    border-right: 1px solid #414a5e;
    font-size: 0.85rem; }

.footer-widget {
  margin: 0 1rem; }

.footer-title {
  position: relative; }

.footer-social {
  font-size: 0.9rem; }
  .footer-social i {
    margin-right: 1rem; }
    .footer-social i:hover {
      cursor: pointer;
      color: #00a89f; }

.footer-address {
  font-weight: 700; }

.footer-bottom .copyright {
  position: relative;
  text-align: center;
  color: #ffffff;
  padding: 15px 0px;
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-weight: 400;
  font-size: 0.7rem; }
  .footer-bottom .copyright a {
    color: #00a89f;
    font-size: 0.7rem;
    font-weight: 700; }

.about-page {
  position: relative;
  top: 6rem; }

.about-main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/background/6.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;
  padding: 2rem 0 6rem;
  color: #fff; }

@media only screen and (max-width: 576px) {
  .about-para-3 {
    margin-top: 1.5rem; } }

.main-breadcrumb {
  text-align: left; }
  .main-breadcrumb .cur-page {
    color: #003d7f; }
  .main-breadcrumb li,
  .main-breadcrumb a {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700; }
  .main-breadcrumb a {
    text-transform: uppercase;
    color: inherit; }

.main-title {
  font-weight: 700;
  margin-top: 3.5rem;
  animation: moveDown 0.4s ease-in-out;
  transition: animation 0.2s; }
  @media only screen and (max-width: 576px) {
    .main-title {
      font-size: 1.4rem; } }

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: 0.8;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

.about-overview {
  padding: 5rem 0; }
  @media only screen and (max-width: 576px) {
    .about-overview {
      padding: 2rem 0; } }

.about-title {
  font-weight: 700; }
  @media only screen and (max-width: 576px) {
    .about-title {
      font-size: 1rem; } }

.highlights-section {
  background-color: #f4f4f4;
  padding: 5rem 0;
  position: relative;
  z-index: 5;
  margin-bottom: 6rem; }

.highlights-row {
  position: relative;
  z-index: 1000; }

.highlights-title {
  color: #003d7f; }

.highlight-image {
  position: absolute;
  right: 0;
  top: 0;
  width: 90%;
  height: 100%;
  background-image: linear-gradient(105deg, #f4f4f4 50%, transparent 50%), url(/images/background/10.jpeg);
  filter: blur(3px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1000;
  border: none;
  outline: none; }

.icon-box .inner-box {
  background-color: white;
  padding-bottom: 1rem;
  border-radius: 3px;
  margin-bottom: 1.5rem;
  transition: all 0.4s; }
  .icon-box .inner-box i {
    font-size: 2rem;
    color: #cbcbcb;
    margin: 1.5rem 0; }
  .icon-box .inner-box h3 {
    font-size: 1rem; }
  .icon-box .inner-box:hover {
    background-color: #003d7f; }
    .icon-box .inner-box:hover h3,
    .icon-box .inner-box:hover i {
      color: #fff; }

.icon-box {
  text-align: center; }

.quality-box {
  display: flex;
  justify-content: start;
  margin-bottom: 2rem;
  border-bottom: 1px solid #00000018;
  padding-bottom: 1rem; }

.quality-icon {
  font-size: 2rem;
  color: #003d7f;
  margin-right: 1rem; }

.quality-text {
  margin-bottom: 2rem;
  color: #747373; }

.quality-title {
  color: #003d7f; }

.quality-btn {
  color: #003d7f; }

.projects-section {
  padding: 4rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem; }

.table-color th {
  background-color: #00a89f;
  color: white; }

.clients-section {
  padding: 4rem 0; }

.career-section {
  padding: 4rem 0; }

.career-form .form-group input[type="text"],
.career-form .form-group input[type="password"],
.career-form .form-group input[type="tel"],
.career-form .form-group input[type="email"],
.career-form .form-group select,
.career-form .form-group textarea {
  position: relative;
  display: block;
  width: 100%;
  line-height: 2rem;
  padding: 0.5rem 0.5rem;
  height: 3rem;
  color: #848484;
  font-size: 1rem;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: "Montserrat", sans-serif;
  outline: none;
  border: none;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.185); }
  .career-form .form-group input[type="text"]:active, .career-form .form-group input[type="text"]:focus,
  .career-form .form-group input[type="password"]:active,
  .career-form .form-group input[type="password"]:focus,
  .career-form .form-group input[type="tel"]:active,
  .career-form .form-group input[type="tel"]:focus,
  .career-form .form-group input[type="email"]:active,
  .career-form .form-group input[type="email"]:focus,
  .career-form .form-group select:active,
  .career-form .form-group select:focus,
  .career-form .form-group textarea:active,
  .career-form .form-group textarea:focus {
    border-bottom: 3px solid #003d7f !important; }

.career-form .form-group textarea {
  resize: none;
  height: 6rem; }

textarea {
  overflow: hidden; }

.career-section .inner-column {
  position: relative;
  padding: 20px 25px; }
  @media only screen and (max-width: 576px) {
    .career-section .inner-column {
      padding: 0.8rem; } }

.career-title {
  font-weight: 700; }
  @media only screen and (max-width: 576px) {
    .career-title {
      font-size: 1.1rem; } }

.career-section .inner-container {
  position: relative;
  border: 1px solid #f4f4f4;
  border-radius: 3px;
  padding: 0; }

.about-carousel-section {
  padding: 0 0 12rem; }
  .about-carousel-section .owl-dots {
    display: flex;
    justify-content: center;
    margin-top: -40px; }
  .about-carousel-section .owl-carousel .owl-nav button.owl-prev,
  .about-carousel-section .owl-carousel .owl-nav button.owl-next,
  .about-carousel-section .owl-carousel button.owl-dot {
    border: 0;
    font-size: 0;
    height: 9px;
    width: 9px;
    background: #87898b;
    border-radius: 50%;
    margin: 0 3px; }
  .about-carousel-section .owl-carousel .owl-dot.active {
    background: #00a89f; }
  .about-carousel-section .owl-next,
  .about-carousel-section .owl-prev {
    display: none; }
  .about-carousel-section .owl-carousel .item img {
    width: 100%; }

.about-services-title {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  display: block; }
  @media only screen and (max-width: 576px) {
    .about-services-title {
      font-size: 1rem; } }

.about-carousel-image {
  position: relative;
  z-index: 5;
  overflow: hidden;
  border-radius: 3px; }

.about-carousel-item {
  background-color: white;
  margin-bottom: 60px;
  position: relative;
  text-align: left; }

.about-carousel-content {
  box-sizing: content-box;
  border: none;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: -4rem;
  background: #fff;
  position: relative;
  z-index: 6;
  padding: 1rem 2rem;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 3px; }
  .about-carousel-content:hover, .about-carousel-content:focus {
    background-color: #003d7f;
    color: white; }
    .about-carousel-content:hover a, .about-carousel-content:focus a {
      color: white; }
  .about-carousel-content p {
    text-align: left; }

.about-content-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem; }

.about-content-link {
  font-weight: 700;
  color: #00a89f; }

.contact-carousel-section {
  font-family: "Montserrat", sans-serif;
  background-color: #00a89f;
  padding: 2rem;
  padding-bottom: 4rem; }
  .contact-carousel-section .owl-next,
  .contact-carousel-section .owl-prev {
    display: none; }

.contact-section .inner-column {
  padding: 0; }

.info-content {
  margin-left: 2rem; }

.info-box {
  display: flex;
  align-items: center; }
  .info-box i {
    font-size: 1.9rem;
    padding-bottom: 1rem;
    color: #00a89f; }

.info-para {
  font-family: "Montserrat", sans-serif; }

.side-top-box {
  background-color: #cbcbcb34;
  padding: 1.5rem 2rem 0.5rem; }

.info-list li {
  border-bottom: 1px solid #e6e6e6; }
  .info-list li:not(:last-child) {
    margin-bottom: 1rem; }

.carousel-email-box,
.carousel-number-box {
  display: flex;
  align-items: center;
  color: white;
  font-size: 0.8rem; }
  .carousel-email-box i,
  .carousel-number-box i {
    margin-right: 1rem; }

.carousel-email-box {
  margin-top: 2rem; }

.contact-carousel-title {
  margin: 0;
  color: white; }

.contact-carousel-occupation {
  font-size: 0.8rem;
  color: white; }

.contact-form .form-group {
  margin-bottom: 1.35rem; }

.title-box {
  font-family: "Montserrat", sans-serif; }
  .title-box h2 {
    font-weight: 700;
    text-transform: uppercase; }
    @media only screen and (max-width: 576px) {
      .title-box h2 {
        font-size: 1.1rem; } }
  .title-box p {
    font-size: 0.8rem; }

.contact-section .contact-carousel-section {
  position: relative; }

.contact-section .owl-dots {
  position: absolute;
  bottom: -2rem; }

.contact-section .owl-dots .owl-dot.active {
  background-color: #003d7f; }

.contact-section .owl-dots .owl-dot {
  position: relative;
  width: 25px;
  height: 5px;
  margin-right: 8px;
  display: inline-block;
  background-color: #e6e6e6;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease; }

.services {
  margin-top: 6rem; }
  @media only screen and (max-width: 576px) {
    .services {
      margin-top: 4rem; } }
  .services ol li {
    font-size: 0.9rem; }
  .services-carousel {
    background-color: #00a89f;
    padding: 2rem 0 1.5rem;
    margin: 8rem 0 4rem; }
    @media only screen and (max-width: 576px) {
      .services-carousel {
        margin: 6rem 0 2rem !important; } }
    .services-carousel .owl-carousel .item > img {
      border-radius: 3px;
      box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.5); }
    .services-carousel .owl-carousel button.owl-dot span {
      background-color: #fff; }
    .services-carousel .owl-carousel .owl-dots {
      margin-top: 1rem; }
    .services-carousel .owl-carousel button.owl-dot.active span {
      background-color: #003d7f; }
  .services-hero-image {
    margin-bottom: 2rem; }
    .services-hero-image img {
      border-radius: 3px; }
  .services-title {
    font-weight: 700; }
    @media only screen and (max-width: 576px) {
      .services-title {
        font-size: 1.1rem; } }
  .services-para {
    text-align: justify; }
    .services-para > * {
      margin-bottom: 2rem; }
  .services-list {
    text-align: left;
    font-size: 1rem; }

ol {
  font-family: "Montserrat", sans-serif;
  padding-left: 1rem; }

.sidebar {
  background-color: #00a89f;
  padding: 3rem;
  color: white;
  box-shadow: 0.8 0.8rem 1.5rem rgba(0, 0, 0, 0.1); }
  .sidebar .separator {
    background-color: white !important;
    border-radius: 10px; }
  .sidebar li {
    border-radius: 3px; }
    .sidebar li a {
      font-weight: 400 !important;
      letter-spacing: 1px;
      line-height: 1.5; }
  .sidebar-service-box {
    padding-bottom: 1.5rem;
    border-bottom: 3px solid rgba(253, 253, 253, 0.226); }
  .sidebar-title {
    text-align: center; }
    .sidebar-title h2 {
      font-weight: 700; }
  .sidebar-list li {
    padding: 0.7rem 0;
    transition: all 0.2s; }
    .sidebar-list li:hover {
      padding-left: 1rem; }
  .sidebar-list li a {
    color: inherit;
    font-weight: 700;
    font-size: 1rem !important; }
  .sidebar-brochure {
    display: flex;
    border: 3px solid #fff;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    transition: all 0.2s; }
    .sidebar-brochure:hover, .sidebar-brochure:focus {
      background-color: #fff;
      color: #00a89f; }
  .sidebar-contact .btn-second {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00a89f;
    background-color: white !important;
    padding: 0.6rem;
    font-size: 0.9rem;
    border: 3px solid transparent;
    transition: all 0.2s; }
    .sidebar-contact .btn-second:hover, .sidebar-contact .btn-second:focus {
      background-color: transparent !important;
      border: 3px solid #fff;
      border-radius: 3px;
      color: #fff; }

@media only screen and (max-width: 576px) {
  aside.sidebar.card {
    margin-top: 2rem !important; } }

#scroll {
  display: none;
  position: fixed;
  width: 4rem;
  height: 4rem;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 99;
  font-size: 2rem;
  border: none;
  outline: none;
  background-color: #00a89f;
  cursor: pointer;
  padding: 0 0.5rem;
  border-radius: 50%;
  color: white !important;
  transition: all 0.3s; }
  #scroll i {
    padding: 0 0.5rem; }

#scroll:hover {
  background-color: #003d7f; }

.whatsapp-cta {
  position: fixed;
  width: 4rem;
  height: 4rem;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 99;
  font-size: 2rem;
  border: none;
  outline: none;
  background-color: #00a89f;
  cursor: pointer;
  padding: 0 0.5rem;
  border-radius: 50%;
  color: white !important;
  transition: all 0.3s; }
  .whatsapp-cta:hover {
    background-color: #003d7f; }
  .whatsapp-cta i {
    padding: 0 0.5rem; }

@media only screen and (max-width: 1200px) {
  #scroll,
  .whatsapp-cta {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.5rem; } }

@media only screen and (max-width: 576px) {
  #scroll,
  .whatsapp-cta {
    width: 3rem;
    height: 3rem;
    font-size: 1rem; } }

@media only screen and (max-width: 576px) {
  #scroll {
    bottom: 0.5rem;
    left: 0.5rem !important; } }
